.popup__title {
  color: black;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  margin: 34px 0 0;
  width: 83%;
}

@media screen and (max-width: 540px) {
  .popup__title {
    font-size: 18px;
  }
}