.popup__close-button {
  position: absolute;
  padding: 0;
  top: -44px;
  right: -44px;
  border: none;
  width: 47px;
  height: 47px;
  background-color: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
}

.popup__close-button::before,
.popup__close-button::after {
  position: absolute;
  top: calc(47px / 2);
  left: 0;
  content: " ";
  height: 4px;
  width: 40.7px;
  background-color: white;
}

.popup__close-button::before {
  transform: rotate(45deg);
}

.popup__close-button::after {
  transform: rotate(135deg);
}

.popup__close-button:hover {
  opacity: 0.6;
  transition: ease-out 0.5s;
}

.popup__close-button:active {
  outline: none;
}

@media screen and (max-width: 540px) {
  .popup__close-button::after, 
  .popup__close-button::before {
    height: 3px;
    width: 39px;
  }
}