.place__photo {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: ease-out 0.2s;
}

.place__photo:hover {
  transform: scale(1.05, 1.05);
  transition: ease-out 0.2s;
}