.profile__edit-button {
  align-self: end;
  position: relative;
  bottom: 8px;
  left: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  background-color: inherit;
  background-image: url('../../../images/Vectoredit.svg');
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  cursor: pointer;
  transition: ease-out 0.5s;
}

.profile__edit-button:hover {
  opacity: 0.6;
  transition: ease-out 0.5s;
}

@media screen and (max-width: 660px) {
  .profile__edit-button {
    bottom: 16px;
    width: 18px;
    height: 18px;
    background-size: 7.5px;
  }
}
