.header {
  width: 88%;
  max-width: 882px;
  min-height: 74px;
  margin: 45px auto 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 540px) {
  .header {
    width: 100%;
    min-height: 56px;
    margin: 28px 0 0;
  }
}